In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp

auctions = pd.read_csv('../data/auctions.csv')

auctions.describe()

,auction_type_id,country,device_id,platform,ref_type_id,source_id
count,0.0,1.957132e+07,1.957132e+07,1.957132e+07,1.957132e+07,1.957132e+07
mean,NaN,6.333597e+18,4.599151e+18,1.205888e+00,2.235326e+00,6.857898e-01
std,NaN,3.481600e+04,2.667138e+18,4.043488e-01,2.426093e+00,1.416215e+00
min,NaN,6.333597e+18,1.138588e+14,1.000000e+00,1.000000e+00,0.000000e+00
25%,NaN,6.333597e+18,2.258716e+18,1.000000e+00,1.000000e+00,0.000000e+00
50%,NaN,6.333597e+18,4.616600e+18,1.000000e+00,1.000000e+00,0.000000e+00
75%,NaN,6.333597e+18,6.911427e+18,1.000000e+00,1.000000e+00,1.000000e+00
max,NaN,6.333597e+18,9.223339e+18,2.000000e+00,7.000000e+00,6.000000e+00